@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #111111;
  --font-sans: var(--font-geist-sans);
}

html {
  background: #ffffff;
}

body {
  background: #ffffff;
  color: #111111;
}
